$bg-color: #F8F8F8;
$txt-color: #000000;
$fancy-color: #4169e1;
$select-color: lightblue;
$bg-menu-color: lightgray;
$border-color: gray;
$highlight-color: lightblue;
$txt-font: 14px;
$small-font: 12px;
$script-font: "Comic Sans MS, Comic Sans, cursive";
$disable-color: gray;
$invalid-color: red;
